title = "compiled example"; 	# name of app.

fields = {
				"Name", 
				"Student_ID",
				"A1",
				"A2",
				"A3",
				"A4",
				"Average"
};								#field names

# button names
buttons = { "Add", "Update", "Delete", "Query" };

#!#

# types of named fields
Name = "string";
Student_ID = "integer";
A1 = "integer";
A2 = "integer";
A3 = "integer";
A4 = "integer";
Average = "integer";

# actionListener Classes for buttons
Add = "ExampleListener";
Update = "ExampleListener";
Delete = "ExampleListener";
Query = "ExampleListener";

# I've left newlines at the bottom of this
# file to show the vertical scrollbar